@font-face {
  font-family: 'HelveticaNeue-Thin'; /*a name to be used later*/
  src: url('../images/HelveticaNeue-Thin.otf'); /*URL to font*/
}
.container-main {
	margin-top: 5%;
}
.assignments-container {
	float: left;
  width: 20%;
  margin-left: 10%;
}

.display-container {
	margin-left: 30%;
	margin-right: 10%;
	border: 1px solid black;
	padding: 1% 3% 3% 3%;
}

table {
	border: 1px solid black;
}
tr, table{
	max-width: 200px;
}
td {
	border: 1px solid black;	
}

.date-display {
	float: right;
	margin-right: 10%;
}
.student-image {
	float: left;	
}
.student-text {
	margin-left: 25%;
}
.submission-info {
	height: 160px;
}
.push-right {
	padding-left: 2%;
}
.push-down {
	padding-bottom: 2%;
}
.dropdown-icon {
	float:right;
}
.icons {
	width: 30px;
	float: right;
}
.prompt-entry {
	min-width: 400px;
}